
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
body{
  height: 100vh;
  padding: 20px;
}
.titre{
  font-size: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.container{
  display: flex;
  justify-content: space-around;
}
.joueur{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texte-cont{
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
#textePlacer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-height: 130px;
  overflow: auto;
  border-radius: 10px;
  font-size: 2rem;
  border: 1px solid ;
  min-height: 100px;
  padding: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 900px;
  margin-bottom: 20px;
  text-align: justify;
}
#textePlacer span{
  margin: 2px;
  padding: 3px;
  text-align: center;
  border-radius: 5px;
}
.texte-cont div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.texte-cont input{
  font-size: 1.8rem;
  padding: 5px;
  width: 300px;
  display: none;
}
.surligneVert{
  background-color: rgb(124, 255, 124);
}
.surligneRouge{
  background-color: rgb(255, 116, 116);
}
.enBorder{
  border: 1px solid black;
}
.basPage{
  display: flex;
  justify-content: center;
  align-items: center;
}
.launchButton{
  cursor: pointer;
  font-size: 1.8rem;
  padding: 5px;
  margin: 10px;
}
.chrono{
  display: block;
  font-size: 3rem;
  margin: 10px;
  height: 50px;
}
.btnRejouer{
  font-size: 1.8rem;
  padding: 5px;
  cursor: pointer;
}

.btnPage{
  display: none;
}

.finPartie{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.641);
  display: none;
  justify-content: center;
  align-items: center;
}

.finPartie .finPartDedans{
  position: relative;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fermerFenFin{
  position: absolute;
  height: 20px;
  width: 20px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.classement{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.btnCommencer{
  font-size: 1.8rem;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
}

.scoreJou{
  font-size: 1.4rem;
}

/* change ONLY first child of scoresFin : */

.scoresFin > *:first-child{
  font-size: 1.7rem;
  margin-bottom: 5px;
}

.scoresFin{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}